/* Better Hidden Cues 
   ----------------------------------------------------------------------------
   Better CSS for presenting messages/cues to screen readers only.

   Inspired by WebAIM recommendations:
   http://webaim.org/techniques/css/invisiblecontent/

   Last edited 2015.12.17 by Kate Deibel
*/

.sr-only, /* CSS class used by Bootstrap libraries*/
.EXLHide, 
.EXLHiddenCue {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: polygon(0px 0px, 0px 0px, 0px 0px, 0px 0px);    
}