/* PRIMO ITEM ACTIONS LIBRARY
   ----------------------------------------------------------------------------  
   Last edited 2016.02.18 by Kate Deibel
*/

/* Main class for the item action buttons */
.localActionButton {
    white-space: nowrap;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    position: relative;
    webkit-box-sizing: border-box;
       moz-box-sizing: border-box;
           box-sizing: border-box;
    line-height: 1.4em;
    display: inline-block;
    font-weight: normal;
    text-align: left;
    vertical-align: middle;
    background-image: none;
    padding: 0.2em 0.75em 0.2em 1.9em; /* assumes using glyphicons */
    -moz-user-select: none;
    color: #000;
    background-color: inherit;
    background-clip: padding-box;
    overflow: hidden;
    z-index: 100;
    border: solid 1px transparent;   
    white-space: nowrap;
}

button.localActionButton span.glyphicon {
    line-height: inherit;
    font-size: 1.2em;
    position: absolute;
    top: 0;
    display: block;
    left: 0.5em;
    padding: 0.2em 0;
    font-weight: normal;
    background-color: transparent;
}

/* ### HOVER/FOCUS/ACTIVE EVENTS */
button.localActionButton:hover,
button.localActionButton:focus {
    background-color: #4b2e83; /* purple */
    color: #fff;
    outline: 0px none !important;
    text-decoration: none;
    border-color: #4b2e83; /* purple */   
}
button.localActionButton:active {
    outline: none;
    background-color: #d7a900; /* gold */
    color: black;
    border-color: #d7a900; /* gold */         
}

/* ### ADD/REMOVE E-SHELF CRAZINESS ### */
button.localActionButton.on_shelf:hover span.glyphicon.glyphicon-star-empty,
button.localActionButton.on_shelf:focus span.glyphicon.glyphicon-star-empty {
    color: #d7a900; /* gold */
}
button.localActionButton.on_shelf:active span.glyphicon.glyphicon-star {
    color: #4b2e83; /* purple */
}
button.localActionButton.on_shelf:active span.glyphicon.glyphicon-star-empty {
    display: none
}
button.eshelf_ActionButton span.glyphicon.glyphicon-star {
    color: #d7a900; /* gold */
}
button.eshelf_ActionButton.off_shelf span.glyphicon-star{
    display:none;
}
button.eshelf_ActionButton.on_shelf  span.glyphicon-star-empty {
    display: none;
}
button.eshelf_ActionButton.on_shelf  span.glyphicon-star {
    display: block;
}


/* ### BROWSER SPECIFIC ISSUES ### */
/* fix how button text moves on click in IE */
button span.buttonText,
button:active  span.buttonText, 
button:focus  span.buttonText  {
    position: relative;
} 
/* extra pixel in chrome/opera/safari browsers */
@supports (-webkit-appearance:none) { 
    body.EXLFullView button.localActionButton span.buttonText {
        position: relative;
        top: -1px;
    }
}