<!-- Run Multiple Versions of jQuery in Primo
  -----------------------------------------------------------------------------
  HTML code to allow for two versions of jQuery to be run simultaneously in
  Primo. This is necessary if you wish to use many JavaScript libraries 
  (i.e., Bootstrap) as they generally require a jQuery version greater than 1.8.
  
  Last edited 2015.12.17 by Kate Deibel  
-->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>
    /* Create primary and secondary jQuery variables*/
    jqLocal = jQuery.noConflict( true ); /* version we just loaded */
    jqPrimo = jQuery; /* version used by Primo */
</script>