/* MOVE THE ITEM ACTIONS OUT OF THE TABS
   -----------------------------------------------------------------
   Last edited 2016.02.22 by Kate Deibel
*/

/* hide the action dropdown in the tabs */
div.EXLTabHeader .EXLTabHeaderButtons .EXLTabHeaderButtonSendTo {
    display: none;
}  

/* toolbar container */
.localItemToolsContainer {
    float: right;
    background-color: transparent;
    font-size: 0.7rem;
    padding: 0;
    line-height: 1;
    background-color: #f1f1f1;
    border-left: solid 1px #dfdfdf;
    border-bottom: solid 1px #dfdfdf;
    border-right: solid 1px #dfdfdf;
}
.localItemTools {       
    display: table;   
    table-layout: fixed;  
    webkit-box-sizing: border-box;    
       moz-box-sizing: border-box;
           box-sizing: border-box;    
    padding: 0;
    line-height: 1;
    width: auto;
    position: relative;  
}
.localItemTools > * {
    display: table-cell;
    line-height: 1;
    vertical-align: middle;
    text-align: left;
    white-space: nowrap;
    position: relative;
    border-left: solid #dfdfdf 1px;
    padding: 0;
}
.localItemTools > *:first-child {
    border-left: none;
}

.localItemToolsMenu ul.dropdown-menu {
    left: auto;
    right: 0;
    border-top: solid 1px black !important;
}    
.localItemToolsMenu .dropdown button.local-dropdown-button {
    border-color: transparent;
}
.localItemToolsMenu ul.dropdown-menu button.localActionButton {
    padding: 2px 34px 2px 5px;
}
.localItemToolsMenu ul.dropdown-menu span.glyphicon {
    left: auto;
    top: 0;
    padding: 2px 0;
    right: 5px;
}

.EXLResultsList div.EXLSummaryContainer div.EXLSummaryFields {
    width: 100%;
    webkit-box-sizing: border-box;    
       moz-box-sizing: border-box;
           box-sizing: border-box;  
}
body.EXLFullView div.EXLSummaryFields {
    padding-right: 1em;
}