/* SIGN IN BANNER 
   -----------------------------------------------------------------
   Last edited 2015.12.16 by Kate Deibel
*/

#signInPrompt {
    background-color: #4a7c01;    
    padding: 0 0.2em 0.1em;
}
#signInPrompt strong a { 
    color: white; 
}
#signInPrompt strong a:hover,
#signInPrompt strong a:focus {
    color: #D7A900 !important;
}    
#signInPrompt strong {
    padding-left: 28px;
    position: relative;
    display: inline-block;
    background-image: none;
}    

/* if using the Glyphicons widget, uncomment the below CSS to add an icon */
/*
#signInPrompt strong:before {
    content: "\e086"; 
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;     
    font-size: 21px;
    height: 21px;
    width: 21px;
    position: absolute;
    display: inline-block;
    left: 0;
    box-sizing: border-box;
}
#signInPrompt strong:after {
    left: 0;
    position: absolute;
    display: inline-block;
    content: "";
    font-size: 21px;
    height: 21px;
    width: 21px;
    border: solid 1px white; 
    border-radius: 50%;
    box-sizing: border-box;    
}
*/
