/* LIBRARY FOR EASY GENERATION OF BOOTSTRAP DROPDOWN MENUS
   -----------------------------------------------------------------
    Last edited 2016.02.04 by Kate Deibel
*/
  
.dropdown {
    text-align: left;
    vertical-align: middle;
    display: inline-block;
   
    position: relative;
    white-space: nowrap;
    font-size: inherit;
}        

.local-dropdown-button {   
    white-space: nowrap;
    box-sizing: border-box;
    line-height: 1.4em;
    font-size: inherit;
    display: inline-block;
    width: 100%;
    margin-bottom: 0;
    font-family: inherit;
    font-weight: normal;
    text-align: left;
    vertical-align: middle;
    -ms-touch-action: manipulation;
        touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    padding: 0.2em 20px 0.2em 5px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;        
    color: black;
    background-color: #f1f1f1;
    border: 1px solid #888;       
    -webkit-background-clip: padding-box; 
       -moz-background-clip: padding; 
            background-clip: padding-box;            
}
/* draw the caret for the dropdown */
.local-dropdown-button:after {
    content: "";
    border-top: 8px solid #4b2e83;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    position: absolute;
    right: 5px;
    top: 33%;
    top: calc(50% - 4px);    
}

.dropdown.open .local-dropdown-button,
.local-dropdown-button:focus, 
.local-dropdown-button:hover {
    border-color: black;
}

.local-dropdown-button:focus, 
.local-dropdown-button:hover {
    background-color: #4b2e83;
    color: white;
    outline: 0 !important;       
    text-decoration: none;         
}
ul.dropdown-menu > li:not(.disabled) > a:hover,
ul.dropdown-menu > li:not(.disabled) > a:focus,
ul.dropdown-menu > li:not(.disabled) > button:hover,
ul.dropdown-menu > li:not(.disabled) > button:focus {
    background-color: #4b2e83;
    color: white;
    outline: 0 !important;       
    text-decoration: none;         
}

ul.dropdown-menu > li:not(.disabled) > a:active,
ul.dropdown-menu > li:not(.disabled) > button:active {
    background-color: #d7a900;
    color:black;
    outline: 0 !important;       
    text-decoration: none;  
}

.local-dropdown-button:focus:after,
.local-dropdown-button:hover:after {
    border-top-color: white;
}

.local-dropdown-button[disabled] {
    cursor: default;
    pointer-events: none;
    font-style: italic;
    opacity: 0.75;
    filter: alpha(opacity=75);            
}

.open > .dropdown-menu {
  display: block;
}

ul.dropdown-menu {
    box-sizing: border-box;
    font-size: inherit;
    position: absolute;
    top: 100%;
    left: 0px;
    overflow: visible; 
    display: none;
    min-width: 1px;
    width: 100%; 
    padding: 0em 0em;
    list-style: none;
    text-align: left;
    background-color: #fff;
    border: 1px solid black;
    border-top-width: 0 !important;    
    border-radius: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-background-clip: padding-box;
            background-clip: padding-box;
}

div.dropdown ul.dropdown-menu li a,
div.dropdown ul.dropdown-menu li button {
    display: block;
    vertical-align: middle;
    clear: both;
    font-weight: normal;
    line-height: 150%;
    white-space: nowrap;  
    margin: 0;
    text-decoration: none;
    color: black;
    text-align: left; 
    background-color: inherit;
}    

div.dropdown ul.dropdown-menu li a {
    padding: 0 5px;
}

div.dropdown ul.dropdown-menu li button {
    width: 100%;
}

div.dropdown ul.dropdown-menu li.disabled,
div.dropdown ul.dropdown-menu li.disabled a,
div.dropdown ul.dropdown-menu li.disabled button {
    font-style: italic;
    color: #8c8c8c;
    cursor: default;
}


