/* REPLACE THE DEFAULT SEARCH SCOPE DROPDOWN WITH A SELECT MENU
   -----------------------------------------------------------------
   Last edited 2016.02.04 by Kate Deibel
*/

/* the select input for search scopes */
#localid_scopeSelect {    
    border: 1px solid #FFF;
    padding-top: 0.2em;
    padding-left: 0.6em;
    height: 26px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;    
}

/* the container for the search scope select */
#localid_searchSelectDiv {
    float: left;
    height: 26px;
} 

/* this fixes some Primo default CSS so that the text input and 
   select align properly */
#exlidsearchribbon input {
    height: 26px;
    width: 100%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}